pyYAML
mlflow
notebook
pandas
scikit-learn
matplotlib
python-box==6.0.2
tqdm
ensure==1.0.2
joblib
types-pyYAML
transformers
transformers[sentencepiece]
sacrebleu
rouge_score
nltk
py7zr
torch
boto3
mypy-boto3-s3
fastapi
uvicorn
Jinja2
evaluate
